<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <a class="navbar-brand" href="#"><img style="height: 5em;" class="img-thumbnail mx-auto" src="{{ url_for('static', filename='images/lightbulb.png') }}">Newbie Bot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
            {% if user is not none %}
                {% if 'Manager' in admin.roles or admin.super_admin %}
            <li class="nav-item"><a class="nav-link" href="/addEmployee">Employees</a></li>
                    {% endif %}
                {% if 'Admin' in admin.roles or admin.super_admin %}
            <li class="nav-item"><a class="nav-link" href="/addMessage">Messages</a></li>
                    {% endif %}
                {% if admin.super_admin %}
            <li class="nav-item"><a class="nav-link" href="/slackMessage">Send Slack Message</a></li>
            <li class="nave-item"><a class="nav-link" href="/admin">Admin</a></li>
                    {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user is not none %}

                {%  if user.username %}
                    <span class="nav-item username">{{ user.username }}</span>
                {% endif %}
                {% if user.picture %}
                    <li class="loggedin">
                        <img class="profile-icon" src="{{ user.picture }}">
                        <ul class="dropdown">
                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                            <li class="nav-item "><a class="nav-link" href="/logout">Logout</a></li>
                        </ul>
                    </li>

                {% endif %}


            {% else %}
            <li class="nav-item "><a class="nav-link" href="/login">Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>
