.formcenter {
        display: flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

.moz-drop {
    margin-top: 30px;
}
.moz-right {
    margin-right: 2em;
}
.moz-input {
    max-width: 5em;
}
.moz-drop-sm {
    margin-top: 1em;
}

.moz-disabled {
    pointer-events: none;
}

.moz-http:hover {

}

.moz-form {
    width: 100%;
    margin: 1rem;
}

.moz-role-request {
    margin-bottom: 0;
}

.moz-delete-button {
    border: none;
    background: none;
    color: red;
}

.moz-delete-button:hover {
    cursor: pointer;
}

li:hover {
    cursor: default !important;
}

.moz-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    cursor: default;
}
li .moz-group-item:after {
    cursor: none;
}

.moz-left {
    margin-left: 2em;
}

.moz-left-tags {
    margin-left: 2.8em;
}

.moz-left-title-tags {
    margin-left: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 14em;
    overflow: hidden;
}

.moz-left-team-owner {
    margin-left: 5em;
}

#link_list li {
  list-style-position:inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    max-width: 20em;
}
#link_list li:hover {
    text-overflow: initial;
}
.profile-icon {
    width: 50px;
    height: 50px;
}

li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    right: 0;
    display: none;
    margin-right: 3px;
}

.loggedin:hover > .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    right:0;
}

.username {
    margin-right: 5px;
    margin-top: 10px;
}
.newbie-top {
    margin-top: 10em;
}
.newbie-bottom {
    margin-bottom: 10em;
}

.sort {
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #90C9C0;
    height: 30px;
    font-size:20px;
    margin: 1em;
}
.sort:hover {
    text-decoration: none;
    background-color:#90BEC0;
}
.sort:focus {
    outline:none;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
