{%  extends 'layout.html' %}

{%  block body %}
    <div class="container">
        <h1>Message List</h1>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Message
      </button>
    <div class="container collapse"  id="collapseExample" style="margin-top: 25px; margin-bottom: 25px;">
        {%  include 'message_form.html' %}
    </div>
    <div style="margin-top: 25px">
        <h1>Messages</h1>
        <div style="overflow: scroll; height: 600px; margin-top: 25px">
            <ul>
            {%  for message in messages %}
                <li class="list-group-item">
                    <a style="text-decoration: none;" href="/editMessage/{{ message.id }}"><i class="fas fa-edit" style="color: #000000"></i></a>
                    <a style="margin-left: 20px; margin-right: 20px; text-decoration: none;" href="/deleteMessage/{{ message.id }}"><i class="fas fa-times" style="color:red"></i></a>
                    {{ message.title }}
                <button style="margin-left: 20px;" class="btn btn-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#{{ message.id }}" aria-expanded="false" aria-controls="collapseExample">Details</button>
                </li>
                <div class="container collapse"  id="{{ message.id }}">
                        <div class="row centered">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <div><label for="first">Type</label></div>
                                    <input type="text" disabled value="{{ message.type }}">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="last_name">Category</label></div>
                                    <input type="text" disabled value="{{ message.category }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="email">Send Once</label></div>
                                    <input type="text" disabled value="{{ message.send_once}}">
                                </div>
                            </div>
                        </div>
                        <div class="row centered">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="email">Title</label></div>
                                    <input type="text" disabled value="{{ message.title}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="country">Country</label></div>
                                    <input type="text" disabled value="{{ message.country }}">
                                </div>
                            </div>
                        </div>
                        <div class="row centered">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="timezone">Send Day</label></div>
                                    <input type="text" disabled value="{{ message.send_day }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="send_hour">Send Hour</label></div>
                                    <input type="text" disabled value="{{ message.send_hour }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="frequency">Frequency</label></div>
                                    <input type="text" disabled value="{{ message.frequency }}">
                                </div>
                            </div>
                        </div>
                        <div class="row centered">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="number_of_sends">Send Number</label></div>
                                    <input type="text" disabled value="{{ message.number_of_sends }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="send_date">Send Date</label></div>
                                    <input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="send_date" type="text" disabled value="{{ message.send_date }}" name="start_date"  />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="text">Message</label></div>
                                    <textarea disabled name="text" id="" cols="30" rows="10" >{{ message.text }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row centered">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="email">Links</label></div>
                                    <ul class="list-group link_list">
                                        {% for link in message.title_link %}
                                            <li class="list-group-item">{{ link['name'] }} {{ link['url'] }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><label for="text">Tags</label></div>
                                    <ul class="list-group">
                                        {% for tag in message.tags %}
                                            <li class="list-group-item">{{ tag }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </ul>
        </div>
    </div>


    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>

{%  endblock %}