.formcenter {
        display: flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

.moz-drop {
    margin-top: 26px;
}
.profile-icon {
    width: 50px;
    height: 50px;
}

li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    right: 0;
    display: none;
    margin-right: 3px;
}

.loggedin:hover > .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    right:0;
}

.username {
    margin-right: 5px;
    margin-top: 10px;
}
.newbie-top {
    margin-top: 10em;
}
.newbie-bottom {
    margin-bottom: 10em;
}
