<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Role
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% from "includes/_formhelpers.html" import render_field %}
        <form action="{{ url_for('admin_role') }}" method="POST" class="form">

        <div class="row " >
                <div class="col-md-4 col-sm-12 ">
                    <div class="form-group multi-collapse collapse show" id="multiCollapseNo">
                        {{ render_field(form.role_name, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group multi-collapse collapse show" id="multiCollapseNo1">
                        {{ render_field(form.role_description, class_="form_control") }}
                    </div>
                </div>
            </div>

        <p><input type="submit" class="btn btn-primary" value="Submit" data-toggle="collapse" data-target="#collapseExample"></p>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
<div style="margin-top: 25px">
    <h1>Roles</h1>
    <div style="overflow: scroll; margin-top: 25px">
        <ul>
        {%  for role in admin_roles %}
            <li class="list-group-item">
                <a style="text-decoration: none;" href="/admin"><i class="fas fa-edit" style="color: #000000"></i></a> {# href="/editRole/{{ role.role_name }}" #}
                <a style="margin-left: 20px; margin-right: 20px; text-decoration: none;" href="/deleteRole/{{ role.role_name }}"><i class="fas fa-times" style="color:red"></i></a>
                {{ role.role_name }}
            <button style="margin-left: 20px;" class="btn btn-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#{{ role.role_name }}" aria-expanded="false" aria-controls="collapseExample">Details</button>
            </li>
            <div class="container collapse"  id="{{ role.role_name }}">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group">
                                <div><label for="first">Name</label></div>
                                <input type="text" disabled value="{{ role.role_name }}">


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div><label for="description">Description</label></div>
                                <input type="text" disabled value="{{ role.role_description }}">
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </ul>
    </div>
</div>