<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
    Add Admin
  </button>
<div class="collapse"  id="collapseAdmin" style="margin-top: 25px; margin-bottom: 25px;">
    {% from "includes/_formhelpers.html" import render_field %}
    <form action="{{ url_for('admin_user') }}" method="POST" class="form">

    <div class="row " >
        <div class="col-md-4 col-sm-12 ">
            <div class="form-group multi-collapse collapse show" id="multiCollapseNo">
                {{ render_field(admin_form.emp_id, class_="form_control") }}
            </div>
        </div>
        <div class="col-md-4 col-sm-12 ">
            <div class="form-group multi-collapse collapse show" id="multiCollapseNo1">
                {{ render_field(admin_form.name, class_="form_control") }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group multi-collapse collapse show" id="multiCollapseNo2">
{#                        {{ render_field(admin_form.super_admin, class_="form_control") }}#}
{#                <input type="checkbox"  value="super_admin" name="super_admin">#}
{#                <label style="margin-left: 25px;" for="super_admin">Super Admin</label>#}
                <p>{{ admin_form.super_admin() }} {{ admin_form.super_admin.label }}</p>
            </div>
        </div>
    </div>
    <div class="row " >
        <div class="col-md-4">
            <div class="form-group multi-collapse collapse show" id="multiCollapseNo3">
{#                        {{ render_field(admin_form.roles(size=4), class_="form_control") }}#}
                <label for="roles">{{ admin_form.roles.label }}</label>
                {{ admin_form.roles }}
{#                <select name="roles" id="roles">#}
{#                    {% for role in admin_form.roles.choices %}#}
{#                        <option value="{{ role }}">{{ role[0] }}</option>#}
{##}
{#                    {% endfor %}#}
{#                </select>#}
            </div>
        </div>
    </div>

    <p><input type="submit" class="btn btn-primary" value="Submit" data-toggle="collapseAdmin" data-target="#collapseAdmin"></p>

    </form>


</div>
<div style="margin-top: 25px">
    <h1>Admins</h1>
    <div style="overflow: scroll; height: 600px; margin-top: 25px">
        <ul>
        {%  for admin in admins %}
            <li class="list-group-item">
                <a style="text-decoration: none;" href="/admin" ><i class="fas fa-edit" style="color: #000000"></i></a>  {# href="/editAdmin/{{ admin.emp_id }}" #}
                <a style="margin-left: 20px; margin-right: 20px; text-decoration: none;" href="/deleteAdmin/{{ admin.emp_id }}"><i class="fas fa-times" style="color:red"></i></a>
                {{ admin.name }}
            <button style="margin-left: 20px;" class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ admin.emp_id }}" aria-expanded="false" aria-controls="collapseAdmin">Details</button>
            </li>
            <div class="container collapse"  id="{{ admin.emp_id }}">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group">
                                <div><label for="first">ID</label></div>
                                <input type="text" disabled value="{{ admin.emp_id }}">

                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <div><label for="first">Name</label></div>
                                <input type="text" disabled value="{{ admin.name }}">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div><label for="last_name">Super Admin</label></div>
                                <input type="text" disabled value="{{ admin.super_admin }}">
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </ul>
    </div>
</div>