{%  extends 'layout.html' %}

{%  block body %}
    <h1>Employee Management</h1>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Employee
      </button>
    <div class="container collapse"  id="collapseExample">
        {% from "includes/_formhelpers.html" import render_field %}
        <form action="" method="POST" class="form">
            <div class="row">
                <div class="col-md-4 col-sm-12 ">
                    <div class="form-group">
                        {{ render_field(form.first_name, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.last_name, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.email, class_="form_control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.city, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.state, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.country, class_="form_control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Timezone</label>
                          </div>
                          <select name="timezone" class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                              {% for timezone in timezones %}
                            <option value="{{ timezone.zone }}">{{ timezone.name }}</option>

                              {%  endfor %}
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.emp_id, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.slack_handle, class_="form_control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div><label for="start_date">Start Date</label></div>
                        <input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="start_date" type="date" name="start_date"  />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.phone, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.manager_id, class_="form_control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.title, class_="form_control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ render_field(form.picture, class_="form_control") }}
                    </div>
                </div>
            </div>
            <p><input type="submit" class="btn btn-primary" value="Submit" data-toggle="collapse" data-target="#collapseExample"></p>
        </form>
    </div>

    <div class="container">
        <h2>Employee List</h2>
        <div class="row" style="overflow: scroll; height: 600px; margin-top: 25px">
                <ul>
                {% for emp in employees %}
                    <li class="list-group-item">
                        <a style="text-decoration: none;" href="/editEmployee/{{ emp.id }}"><i class="fas fa-edit" style="color: #000000"></i></a>
                        <a style="margin-left: 20px; margin-right: 20px; text-decoration: none;" href="/deleteEmployee/{{ emp.id }}"><i class="fas fa-times" style="color:red"></i></a>
                        {{ emp.first_name }} {{ emp.last_name }}
                        <button style="margin-left: 20px;" class="btn btn-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#{{ emp.id }}" aria-expanded="false" aria-controls="collapseExample">Details</button> </li>
                    <div class="container collapse"  id="{{ emp.id }}">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 ">
                                <div class="form-group">
                                    <div><label for="first">First Name</label></div>
                                    <input type="text" disabled value="{{ emp.first_name }}">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="last_name">Last Name</label></div>
                                    <input type="text" disabled value="{{ emp.last_name }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="email">Email</label></div>
                                    <input type="text" disabled value="{{ emp.email}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="city">City</label></div>
                                    <input type="text" disabled value="{{ emp.city }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="state">State</label></div>
                                    <input type="text" disabled value="{{ emp.state }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="country">Country</label></div>
                                    <input type="text" disabled value="{{ emp.country }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="timezone">Timezone</label></div>
                                    <input type="text" disabled value="{{ emp.timezone }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="emp_id">Emp ID</label></div>
                                    <input type="text" disabled value="{{ emp.emp_id }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="slack_handle">Slack Handle</label></div>
                                    <input type="text" disabled value="{{ emp.slack_handle }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="start_date">Start Date</label></div>
                                    <input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="start_date" type="text" disabled value="{{ emp.start_date }}" name="start_date"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="phone">Phone</label></div>
                                    <input type="text" disabled value="{{ emp.phone }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="manager_id">Manager ID</label></div>
                                    <input type="text" disabled value="{{ emp.manager_id }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="title">First Name</label></div>
                                    <input type="text" disabled value="{{ emp.title }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label for="picture">Picture</label></div>
                                    <input type="text" disabled value="{{ emp.picture }}">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </ul>



    </div>
    </div>

    <script src="{{ url_for('static', filename='employee.js') }}"></script>
{%  endblock %}