{% from "includes/_formhelpers.html" import render_field %}
<form action="" method="POST" class="form">
    <div class="row centered">
        <div class="col-md-6">
            <div class="form-group">
                <p>
                    <div class="row" style="padding: 15px;">
                        <input type="checkbox" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseNo multiCollapseNo1 multiCollapseNo2 multiCollapseYes" value="send_once" name="send_once">
                        <label style="margin-left: 25px;" for="send_once">Send on Specific Date</label>
                    </div>

                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" id="multiCollapseNo2">
                <div class="input-group mb-3">
                    <p>{{ form.country.label }} {{ form.country }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row centered">
         <div class="col-md-6 ">
            <div class="form-group">
                {{ render_field(form.title, class_="form_control") }}
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                {{ render_field(form.text, class_="form_control") }}
            </div>
        </div>
    </div>
    <div class="row centered">
        <div class="col-md-6 ">
            <div class="form-group ">
                <div class="input-group">
                    <p>{{ form.message_type.label }} {{ form.message_type }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group ">
                <div class="input-group mb-3">
                    <p>{{ form.category.label }} {{ form.category }}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row centered" >
        <div class="col-md-6">
            <div class="form-group multi-collapse collapse" id="multiCollapseYes">
                <div><label for="start_date">Send Date</label></div>
                <input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="send_date" type="date" name="send_date"  />
            </div>
        </div>
    </div>
    <div class="row centered" >
        <div class="col-md-6  ">
            <div class="form-group multi-collapse collapse show" id="multiCollapseNo">
                {{ render_field(form.send_day, class_="form_control") }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group multi-collapse collapse show" id="multiCollapseNo1">
                {{ render_field(form.send_time, class_="form_control") }}
            </div>
        </div>
    </div>
    <div class="row centered">
        <div class="col-md-6">
            <div class="form-group multi-collapse collapse show " id="multiCollapseNo2">
                <div class="input-group">
                    <p>{{ form.frequency.label }} {{ form.frequency }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group multi-collapse collapse show">
                {{ render_field(form.number_of_sends, class_="form_control") }}
            </div>
        </div>
    </div>
    <div class="row centered">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <input type=text id=link_name name=link_name class="form-control moz-input" placeholder="Name" data-toggle="tooltip" data-placement="top" title="This value will be displayed as a button title." >
                    <input type="text" id="link_url" name="link_url" placeholder="Link" data-toggle="tooltip" data-placement="top" title="Must be a valid URL">
                    <input name="linkitems" id="linkitems" type="hidden">
                </div>
                <a class="btn btn-sm btn-outline-primary moz-drop-sm moz-disabled" name=add_link id=add_link >Add Link</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <input type=text id=tag_val name=tag_val class="form-control" placeholder="Add a tag" >
                    <a class="btn btn-sm btn-outline-primary moz-drop-sm moz-disabled" name=add_tag id=add_tag >Add Tag</a>
                    <input name="tagitems" id="tagitems" type="hidden">
                </div>


            </div>
        </div>

    </div>


    <div class="row centered">
        <div class="col-md-6">
            <ul name=link_list id=link_list class="list-group moz-right">
            {% if message %}
                {% for link in message.title_link %}
                    <li class="list-group-item lilink"><a style="margin-right: 20px; text-decoration: none;" class="clearlink"><i class="fas fa-times links" style="color:red"></i></a>{{ link['name'] }} {{ link['url'] }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div class="col-md-6">
            <ul name=tag_list id=tag_list class="list-group moz-right">
            {% if message %}
                {% for tag in message.tags %}
                    <li class="list-group-item litags"><a style="margin-left: 20px; margin-right: 20px; text-decoration: none;" class="clearitem" ><i class="fas fa-times tags" style="color:red"></i></a>{{ tag }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>

    </div>
    <div class="row centered">
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary moz-drop" value="Submit" data-toggle="collapse" data-target="#collapseExample">
        </div>
        <div class="col-md-6">
            <a href="/addMessage" class="btn btn-secondary moz-drop">Cancel</a>
        </div>
    </div>
</form>