{% from "includes/_formhelpers.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='slack_message.css') }}">
<form action="" method="POST" class="form">
    <div class="row centered">
        <div class="col-6 ">
            <div id="text-field" class="form-group">
                {{ render_field(form.text, class_="form_control") }}
            </div>
        </div>
         <div class="col-6 ">
            <div class="form-group">
                {{ render_field(form.topic, class_="form_control") }}
            </div>
        </div>

    </div>
    <div class="row centered">

        <div class="col-6 ">
            <div class="form-group ">
                <div class="input-group">
                    <p>{{ form.message_type.label }} {{ form.message_type }}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" id="multiCollapseNo2">
                <div class="input-group mb-3">
                    <p>{{ form.country.label }} {{ form.country }}</p>
                </div>
            </div>
        </div>
    </div>
{#    <div class="row centered">#}

{#        <div class="col">#}
{#            <div class="form-group ">#}
{#                <div class="input-group mb-3">#}
{#                    <p>{{ form.category.label }} {{ form.category }}</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#    </div>#}
    <div class="row centered">
        <div class="col-6">
            <div class="form-group">
                <div class="input-group">
                    <p>{{ form.location.label }} {{ form.location }}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="input-group">
                    <p>{{ form.emp_type.label }} {{ form.emp_type }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row centered" >
        <div class="col-6">
            <div class="form-group">
                <p>
                    <div class="row" style="padding: 15px;">
                        <input type="checkbox" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseNo multiCollapseNo1 multiCollapseNo2 multiCollapseYes" value="send_once" name="send_once">
                        <label style="margin-left: 25px;" for="send_once">Send on Specific Date</label>
                    </div>

                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group multi-collapse collapse" id="multiCollapseYes">
                <div><label for="start_date">Send Date</label></div>
                <input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="send_date" type="date" name="send_date"  />
            </div>
        </div>
    </div>
    <div class="row centered ">
        <div class="col-6 ">
            <div class="form-group">
                <div class="row moz-left-pad">
                    <input type=text id=link_name name=link_name class="form-control moz-input" placeholder="Name" data-toggle="tooltip" data-placement="top" title="This value will be displayed as a button title.  Links require a name and a link value, once both fields have values you must click the Add Link button below. Links are not required for every message." >
                    <input type="text" id="link_url" name="link_url" placeholder="Link" data-toggle="tooltip" data-placement="top" title="URL must begin with http or https - ex https://mozilla.com  Links require a name and a link value, once both fields have values you must click the Add Link button below.  Links are not required for every message.">
                    <input name="linkitems" id="linkitems" type="hidden">
                </div>
                <a class="btn btn-sm btn-outline-primary moz-drop-sm moz-disabled" name=add_link id=add_link >Add Link</a>
            </div>
        </div>
        <div class="col-6 ">
            <div class="form-group">
                <div class="row moz-left-pad">
                    <input type="text" id="tag_val" name="tag_val" list="tagsuggestions" class="form-control" placeholder="Add a tag" data-toggle="tooltip" data-placement="top" title="Tags are used for searching messages from Newbie.  Tags can be entered one at a time or as a comma separated list.  Once you have entered the tag value you must click the Add Tag button below.  Tags are recommended but not required.">
                    <a class="btn btn-sm btn-outline-primary moz-drop-sm moz-disabled" name="add_tag" id="add_tag" >Add Tag</a>
                    <input name="tagitems" id="tagitems" type="hidden" >
                    <datalist id="tagsuggestions"></datalist>
                    </select>
                </div>


            </div>
        </div>

    </div>


    <div class="row centered">
        <div class="col-6">
            <ul name=link_list id=link_list class="list-group moz-right">
            {% if message %}
                {% for link in message.title_link %}
                    <li class="list-group-item lilink"><a style="margin-right: 20px; text-decoration: none;" class="clearlink"><i class="fas fa-times links" style="color:red"></i></a>{{ link['name'] }} {{ link['url'] }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div class="col-6">
            <ul name=tag_list id=tag_list class="list-group moz-right">
            {% if message %}
                {% for tag in message.tags %}
                    <li class="list-group-item litags"><a style="margin-left: 20px; margin-right: 20px; text-decoration: none;" class="clearitem" ><i class="fas fa-times tags" style="color:red"></i></a>{{ tag }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>

    </div>
    <div class="row centered">
        <div class="col">
            <input id="submit-message" type="submit" class="btn btn-primary moz-drop" value="Submit" data-toggle="collapse" data-target="#collapseExample">
        </div>
        <div class="col">
            <a href="/messages" class="btn btn-secondary moz-drop">Cancel</a>
        </div>
        <div class="col">
            <a href="#"  data-toggle="modal" class="btn btn-secondary moz-drop" data-target="#previewTempModal">Preview Message</a>
        </div>
    </div>


    <div class="modal fade" id="previewTempModal" tabindex="-1" role="dialog" aria-labelledby="previewTempModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewTempModalLabel">Preview Message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         <div class="modal-body">
            <div class="c-virtual_list__item" role="listitem" style="top: 619.6px;" tabindex="-1">
                <div class="c-message c-message--light" role="document" data-qa="message_container">
                    <div class="c-message__gutter">
                        <a href="/services/BDCEC82RF" target="_blank" rel="noopener noreferrer" style="height: 36px; line-height: 36px; width: 36px;" class="c-message__avatar c-avatar c-avatar--interactive" tabindex="-1" aria-hidden="true">
                            <img class="c-avatar__image" src="https://avatars.slack-edge.com/2018-11-28/489946873457_151b126bf7cec5308775_36.png" srcset="https://avatars.slack-edge.com/2018-11-28/489946873457_151b126bf7cec5308775_72.png 2x" alt=""></a>
                    </div>
                    <div class="c-message__content" data-qa="message_content">
                        <div class="c-message__content_header">
                            <span class="c-message__sender" data-qa="message_sender">
                                <a class="c-message__sender_link" href="/services/BDCEC82RF" target="_blank" rel="noopener noreferrer" data-stringify-suffix=" " data-qa="message_sender_name">newbie</a>
                                <span class="margin_left_25">
                                    <span class="c-app_badge" data-stringify-suffix=" ">APP</span>
                                </span>
                            </span>
                            <a class="c-timestamp c-timestamp--static" href="https://mozilla-sandbox-scim.slack.com/archives/DDE4F9KQX/p1546445672000500" delay="300">
                                <span id="current_time" class="c-timestamp__label" data-stringify-prefix="[" data-stringify-suffix="]">10:14 AM</span>
                            </a>
                        </div>
                        {% if message %}
                            <span class="c-message__body" dir="auto">{{ message.text }}</span>
                            {% for link in message.title_link %}
                                <div class="c-message__attachments">
                                    <div class="c-message_attachment">
                                        <div class="c-message_attachment__border" style="background-color: rgb(0, 137, 82);"></div>
                                        <div class="c-message_attachment__body">
                                            <div class="c-message_attachment__row c-message_attachment__row--actions">
                                                <a role="link" tabindex="0" target="_blank" class="c-button c-button--outline-primary c-button--small c-message_attachment__button null--outline-primary null--small" type="button" data-qa="message_attachment_button_primary" href="{{ link['url'] }}" rel="noopener noreferrer">
                                                    <span class="overflow_ellipsis" dir="auto">{{ link['name'] }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <span id="preview-message-body" class="c-message__body" dir="auto"></span>
                            <div name=preview_list id=preview_list class=""></div>
                        {% endif %}
                    </div>
                </div>
            </div>
         </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</form>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

