<div style="margin-top: 25px">
    <h1>Admin Requests</h1>
    <div style="overflow: scroll; margin-top: 25px">
            {% from "includes/_formhelpers.html" import render_field %}
            {% if pending_requests|length < 1 %}
                <h4>Currently there are no pending requests.</h4>
            {% endif %}
            {%  for pending in pending_requests %}
            <div class="row">
              <form class="row moz-form" action="{{ url_for('admin_request', person_id=pending.id) }}" method="POST">
                  <div class="col">
                    <h5>
                            {{ pending.first_name }} {{ pending.last_name }}
                    </h5>
                      <h6>Role(s) Requested: </h6>
                      {% for role in pending.admin_role_requested %}
                          <p class="moz-role-request">{{ role }}</p>
                          {% endfor %}
                  </div>
                  <div class="col">
                    <div class="form-group">
                            {{ render_field(pending_form.decision, class="form_controll") }}
                        </div>
                </div>
                <div class="col">
                      <div class="form-group">
                            {{ render_field(pending_form.comment, class="form_control") }}
                      </div>
                </div>

                <div class="col">
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                </div>
              </form>
            </div>
            {% endfor %}
    </div>
</div>